  <p>
    <b><%= comment.commenter %></b>
  </p>

  <p>

   <bullet> </bullet> <%= comment.body %>
  </p>
  <p>
  <%= link_to "Destroy", [comment.article, comment], data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
              } %>
</p>