<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
<br />
<small>Powered by <a href="https://github.com/blogcog" alt="You can use this for your blogs as well.">BlogCog</a>, which depends on <a href="rubyonrails.org">Ruby on Rails</a>.</small>
